

<app-header [user]="user" class="content-padding">
    <app-logo logo></app-logo>
</app-header>
<app-breadcrumbs [breadcrumbs]="breadcrumbs" class="content-padding"></app-breadcrumbs>
<div class="search content-padding">
    <app-input></app-input>
    <app-button styleType="secondary" (clickEvent)="searchCourses()">
        <span label>Search</span>
    </app-button>
</div>
<div class="actions content-padding">
    <app-button (clickEvent)="addCourse()"><span label>Add Course</span></app-button>
</div>
<div class="content content-padding">
    <ul class="courses-list">
        <li *ngFor="let item of courses" class="course-item">
            <app-course-card
                [course]="item"
                (editEvent)="editCourse(item)"
                (deleteEvent)="deleteCourse(item)">
            </app-course-card>
        </li>
    </ul>
</div>
<app-footer></app-footer>

