

<app-header [user]="user" class="content-padding">
    <app-logo logo></app-logo>
</app-header>
<app-breadcrumbs [breadcrumbs]="breadcrumbs" class="content-padding"></app-breadcrumbs>
<form class="search content-padding" [formGroup]="searchForm" (ngSubmit)="searchCourses()">
    <app-input formControlName="predicate"></app-input>
    <app-button styleType="secondary">
        <span label>Search</span>
    </app-button>
</form>
<div class="actions content-padding">
    <app-button (clickEvent)="addCourse()"><span label>Add Course</span></app-button>
</div>
<div class="content content-padding">
    <ul class="courses-list">
        <li *ngFor="let item of courses; trackBy: trackByCourse" class="course-item">
            <div *appIfUseful="item.id < 2">
                <app-course-card
                    [course]="item"
                    (editEvent)="editCourse(item)"
                    (deleteEvent)="deleteCourse(item)">
                </app-course-card>
            </div>
        </li>
    </ul>
</div>
<app-footer></app-footer>

